.default-containter{
    width: 1900px;
    max-width: 100%;
    margin: 0 auto;
}
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 10px;
}
.section-21{
    width: 1286px;
    max-width: 100%;
    position: relative;
}
.section-21>div{
    width: 779px;
    max-width: 100%;
}
.footer-img{
    bottom: -44px;
}
.section-21>div>:nth-child(3){
    max-width: 555px;
    text-align: justify;
}